<div class="card">
    <div class="card-header">
        Login
        <button class="btn btn-primary btn-regis" type="button" (click)="register()">Register</button>
    </div>
    <div class="card-body">
        <form>
            <div class="row" *ngFor="let element of elements">
                <div class="col">
                    <div class="form-group position-relative">
                        <label for="my-{{element}}">{{showLabel(element)}}</label>
                        <input id="my-{{element}}" class="form-control" type="text" 
                        (keyup) = "onkeyup($event.target.value, element)">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="button" [disabled] = "disButton()" (click)="submit()">Login</button>
       </form>
    </div>
</div>